@charset "utf-8";
/* CSS Document */


#main{
	width:					700px;
	height:					70%;
	
	padding:				1px 15px 0px 15px;
	margin:					0 auto;
	background-color:		white;
	
	margin-top:				20px;
	
	border-color: 			#D8D3CD; /* marron escuro */
	border-width:			1px;
	border-style:			solid;
	border-radius: 			8px;
}

#formulario{
	padding:				4% 4% 4% 4%;
}

