@charset "utf-8";
/* CSS Document */

#main{
	width:					860px;
	height:					70%;
	
	padding:				1px 15px 0px 15px;
	margin:					0 auto;
	background-color:		white;
	
	margin-top:				20px;
	
	border-color: 			#D8D3CD; /* marron escuro */
	border-width:			1px;
	border-style:			solid;
	border-radius: 			8px;
}

#fim_da_lista {
	text-align:center;
}

#botoes_empresa{
	padding-top:	5px;
	padding-bottom:	5px;
	width:			250px;
	margin: 		0 auto;
}

#config_button{
	margin-left:	40px;	
}


#all-content{
	margin:			0;
	padding:		0;	
}

#fim_da_lista{
	text-align:center
}

#menu_perfil{
	width:						850px;
	
	padding:					5px 5px 5px 5px;
	
	margin-top:  				30px;
	
	border-bottom:  			solid;
	border-bottom-width:		5px;
	border-bottom-color:		#D8D3CD; /* marron escuro */
}


/*************************************************/
/*					FIM REGRA DOS BOTOES		 */
/*************************************************/

#dialog-modal{
	height:		100%;
	width:		100%;	
	
}

