@charset "utf-8";
/* CSS Document */

#main{
	width:					860px;
	height:					600px;
	
	padding:				1px 15px 0px 15px;
	margin:					0 auto;
	background-color:		white;
	
	margin-top:				40px;
	
	border-color: 			#D8D3CD; /* marron escuro */
	border-width:			1px;
	border-style:			solid;
	border-radius: 			8px;
}

#botoes_tarefas{
	padding-top:	5px;
	padding-bottom:	5px;
	width:			130px;
	margin: 		0 auto;
}

#config_button{
	margin-right:	40px;	
}


#all-content{
	margin:			0;
	padding:		0;	
}

#fim_da_lista{
	text-align:center
}

#menu_perfil{
	width:						850px;
	
	padding:					5px 5px 5px 5px;
	
	margin-top:  				30px;
	margin-bottom:  			20px;
	
	border-bottom:  			solid;
	border-bottom-width:		5px;
	border-bottom-color:		#D8D3CD; /* marron escuro */
}

/*************************************************/
/*					REGRAS CSS DOS PAINEIS		 */
/*************************************************/

.info{
	color:						#F99D1C;
	padding:					14px 5px 5px 5px;
	
	width:						800px;/* Propriedade obrigat�ria para todo elemento flutuante */
	height:						350px;

	background-image:			url('../images/home_barra.png');
	background-repeat:  		no-repeat;
	background-position:		top center;
	
	background-color:			#EEEDE9; /* marron claro */
	
	border:						1px solid #D8D3CD;
	border-radius:				5px;
}

.label_titulo{
	padding-left: 25px;
}

/* Painel Esquerdo */
#usuarios{
	margin:						0 auto;
	overflow: 					auto;
}

.css_colaboradores_usuarios{
	color: 						black;
	margin:						20px 5px 5px 0px;	
	width:						100%;
	height:						80%;
	overflow: 					auto;
}

    

table.tabela_zebrada td, table.tabela_zebrada th { border: 1px solid #ccc; padding: 4px; }

table.tabela_zebrada .hover { 
	background-color: 			#FFF; 
}

/*
{
table.tabela_zebrada tr:nth-child(odd) {
    background-color: #FFF;
}
*/

/*************************************************/
/*			FIM REGRAS CSS DOS PAINEIS		 	 */
/*************************************************/

img{
	background-color:transparent;
	border-style:none;	
}