/**********************************************/
/*		    css dos botões 					  */
/**********************************************/

input[type=submit]{
	padding:			10px;
	background: 		#F89C20; /* Azul */
	border-style: 		none;
	border-radius: 		5px;
}


/**********************************************/
/*			fim css dos botões 				  */
/**********************************************/



header{
	height: 45px;
}

.texto {
	font-style: normal;
	font-weight: bolder;
}

.titulo {
	float: right;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


#nova-tarefa{
	margin: 5px 20px 0px 0px;
	float:	right;			
}

#div_quadro{
    background-color: #EEEDE9;  /* Cor de fundo */
	width: 99.8%;
	height: 85%;
	border-style: none;
	overflow: auto;
	margin-top:				0px;
}

#div_scroll_quadro{
    background-color: #EEEDE9;  /* Cor de fundo */
	min-height: 700px;
	height: 100%;
	
	float:left;
    margin-right:-30000px;/*Be safe with Opera's limited negative margin of 32695px (-999em could cause problems with large font sizes)*/
}

.quadro {
	float:left;
	width: 450px;
	min-height: 700px;
	height: 100%;
	border-style: solid ;

	border-color: #999;
	border-width: 1px thin;
	
	text-align: center;
}

#div_reserva DIV {
	height:20px;
	width:150px;
	position:absolute;
	
	border-color: #000000; 
	border-style:solid; 
	border-width:1px;
	
	background:#FFFFFF;
	font-family:Verdana; font-size:12px;
	padding-top: 5px;
	margin: 4px;
	text-align:center;
	cursor:move;
}

#div_reserva{
	border-top-width: 5px;
	border-top-color: #F89C20; /* Amarelo */
}

#div_solicitado{
	border-top-width: 5px;
	border-top-color: #694D96; /* Roxo */
}

#div_processo{
	border-top-width: 5px;
	border-top-color: #D02E27; /* Vermelho */
}

#div_feito{
	border-top-width: 5px;
	border-top-color: #2EB3C4; /* Vermelho */
}

#div_arquivado{
	border-top-width: 5px;
	border-top-color: #CCC; /* Vermelho */
}