#main {
  background:       white;
  font-size:        105%;
  padding:          15px;
  margin:           0px 10px 10px 10px;
  width:            420px;
  float:            left;
}

#container-menu{
	background-image:		url('images/marca.png');
	background-repeat: 		no-repeat;
	background-position: 	left;
}

#allcontent {
	width:            800px;
	min-height:		  480px;
	height:		      auto;
	
	padding-top:      5px;
	padding-bottom:   5px;
	background-color: white;
	margin-left:      auto;
	margin-right:     auto;
  	margin-top:		  2%;
	
	/* borda */
  	border-color :    #D8D3CD;
	border-style:     solid;
	border-width:     thin;
	border-radius:    8px;
	
	/* borda inferior */
	border-bottom-style: 	solid;
	border-bottom-width: 	2px;
	border-bottom-color: 	#F19620; /* Amarelo */
	
	/* borda Superior */
	border-top-style:	solid;
	border-top-width:	2px;
	border-top-color: 	#F19620; /* Amarelo */	
	
	/* somvbra ao redor da div do formulario */
	/*
	-webkit-box-shadow: 	0 5px 10px #aaa;
	   -moz-box-shadow:	    0 5px 10px #aaa;
			box-shadow: 	0 5px 10px #aaa;
	*/
}

/***************************/
/* CSS do da tela de Login */
/***************************/

#campos_login {
	width: 100%;
}

input[type=email],
input[type=password],
input[type=text],
input[type=url] {
	display: 		inline-block;
	min-height:		32px;
	width: 			100%;
	background: 	#fff;
	border: 		1px solid #ccc;

	
	-webkit-box-sizing: 	border-box;
	-ms-border-radius:		3px;
	-o-border-radius:		3px;
	-webkit-border-radius:	3px;
	-moz-border-radius:		3px;
	border-radius:			3px;
}
  
  
/* Submit */
input[type="submit"]{
	background-color: 	#047B7F;
	border-style: 		none; 
	cursor: 			pointer; 
	height: 			35px; 
	width: 				100px;
}