@charset "utf-8";
/* CSS Document */

.negrito{
	font-weight:			bold;
}


/************************************************/
/*			CSS CAMPOS E BOTOES DE FORMULÁRIOS	*/
/************************************************/
textarea, input[type=text],
input[type=email],input[type=password],
input[type=date], input[type=color]{
	border:						1px solid #ccc;
	width:						100%;
	min-height:					30px;
	margin-bottom:				10px;
	margin-top:					2px;
	outline: 					none;
	
	-webkit-border-radius:		5px;
	-moz-border-radius:			5px;
	-o-border-radius:			5px;
	-ms-border-radius:			5px;
	border-radius:				5px;
	padding-left:				3px;
}

select.tipo_situacao{
	border:						1px solid #ccc;
	width:						100%;
	height:						30px;
	
	-webkit-border-radius:		5px;
	-moz-border-radius:			5px;
	-o-border-radius:			5px;
	-ms-border-radius:			5px;
	border-radius:				5px;
	padding-left:				3px;
}

.add_empresa{
	width:			100%;	
	border-spacing: 10px 1px;
}

.border_space{
	width:			100%;	
	border-spacing: 10px 1px;
}


table.add_projeto{
	width:			100%;	
	border-spacing: 10px 1px;
}


input[type=color]{
	width: 				60px;
}

#inline { display: none; width: 600px; }

#edit_inline { display: none; width: 600px; }

/************************************************/
/*			CSS CAMPOS E BOTOES DE FORMULÁRIOS	*/
/************************************************/