#main{
	width:					100%;
	height:					100%;
	
	margin:					0 auto;
	background-color:		white;
	
	border-color: 			#D8D3CD; /* marron escuro */
	border-width:			1px;
	border-style:			solid;
	border-radius: 			8px;
}

header{
	height: 45px;
}

.texto {
	font-style: normal;
	font-weight: bolder;
}

.titulo {
	float: right;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

#div_quadro{
    background-color: #EEEDE9;  /* Cor de fundo */
	width:  100%;
	height: 100%;
	border-style: none;
	overflow: auto;
	margin-top:				0px;
}

#div_scroll_quadro{
    background-color: #EEEDE9;  /* Cor de fundo */
	min-height: 700px;
	height: 100%;
	
	float:left;
    margin-right:-30000px;/*Be safe with Opera's limited negative margin of 32695px (-999em could cause problems with large font sizes)*/
}

.quadro {
	float:left;
	width: 450px;
	min-height: 700px;
	height: 100%;
	border-style: solid ;

	border-color: #999;
	border-width: 1px thin;
	
	text-align: center;
}

#1{
	border-top-width: 5px;
	border-top-color: #F89C20; /* Amarelo */
}

#2{
	border-top-width: 5px;
	border-top-color: #694D96; /* Roxo */
}

#3{
	border-top-width: 5px;
	border-top-color: #D02E27; /* Vermelho */
}

#4{
	border-top-width: 5px;
	border-top-color: #2EB3C4; /* Vermelho */
}

#5{
	border-top-width: 5px;
	border-top-color: #CCC; /* Vermelho */
}

.tarefa{
	background-image: 	url('../images/postit.png');	
	width:				128px;
	height:				128px;

}

#options_menu{
	background-color: 		white;
	height: 				25px;
	width:					100%;
	border:					1px solid #D8D3CD;
	font-weight:			bold;
}

#inline { display: none; width: 600px; }