@charset "utf-8";
/* CSS Document */

#all-content{
	background-color: 	white;
	width:				550px;
	margin: 			20px auto;
	
	padding: 			25px 25px 25px 25px;
	
	/* bordas da div do formulario arredondadas */
	border-radius: 		8px;
	
	/* somvbra ao redor da div do formulario */
	-webkit-box-shadow: 	0 5px 10px #aaa;
	   -moz-box-shadow:	    0 5px 10px #aaa;
			box-shadow: 	0 5px 10px #aaa;
}

#form-container{
	/* borda Superior */
	border-top-style:	solid;
	border-top-width:	2px;
	border-top-color: 	#F19620; /* Amarelo */	
	padding-top: 10px;	
}

textarea, select, input[type=text],
input[type=date], input[type=color] {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border:1px solid #ccc;
  font-size:20px;
  width:100%;
  min-height:30px;
  display: block;
  margin-bottom:15px;
  margin-top:5px;
  outline: none;

  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  border-radius:5px;
}

select, input[type=date] {
	width: 				34%;	
}

input[type=color]{
	width: 				60px;
}

input[type=submit] {
	font-size:			20px;
	color: 				#FFF;
	padding:			10px;
	background: 		#2EB3C4; /* Azul */
	border-style: 		none;
	border-radius: 		5px;
}