@charset "utf-8";
/* CSS Document */

#main{
	width:					860px;
	height:					70%;
	
	padding:				1px 15px 0px 15px;
	margin:					0 auto;
	background-color:		white;
	
	margin-top:				20px;
	
	border-color: 			#D8D3CD; /* marron escuro */
	border-width:			1px;
	border-style:			solid;
	border-radius: 			8px;
}

#all-content{
	margin:			0;
	padding:		0;	
}


#menu_perfil{
	width:						850px;
	
	padding:					5px 5px 5px 5px;
	
	margin-bottom:  			30px;
	border-bottom:  			solid;
	border-bottom-width:		5px;
	border-bottom-color:		#D8D3CD; /* marron escuro */
}

/************************************************/
/*			PAINEIS ESQUERDO E DIREITO			*/
/************************************************/

/* Painel direito */
#container_projetos{
	float:						left;
}

.info{
	color:						#F99D1C;
	padding:					14px 5px 5px 5px;
	
	width:						410px;/* Propriedade obrigatória para todo elemento flutuante */
	height:						200px;
	background-image:			url('../images/home_barra.png');
	background-repeat:  		no-repeat;
	background-position:		top center;
	
	background-color:			#EEEDE9; /* marron claro */
	
	border:						1px solid #D8D3CD;
	border-radius:				5px;
}

.label_titulo{
	padding-left: 25px;
}

/* Painel Esquerdo */
#container_tarefas{
	margin-left:	440px;
}

/************************************************/
/*		FIM PAINEIS ESQUERDO E DIREITO			*/
/************************************************/


/*************************************************/
/*				REGRAS DOS BOTOES				 */
/*************************************************/

button {
	font:		inherit;
	padding: 	6px 16px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ffffff 50%,
		#eeeeee 50%,
		#cccccc 75%,
		#aaaaaa);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		color-stop(0.50, #ffffff),
		color-stop(0.50, #eeeeee),
		color-stop(0.75, #cccccc),
		to(#aaaaaa));
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ffffff;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 0px rgba(255,255,255,0);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 0px rgba(255,255,255,0);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 0px rgba(255,255,255,0);
	text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,0.2);
}





/*************************************************/
/*					FIM REGRA DOS BOTOES		 */
/*************************************************/

table {
	border-spacing:			5px;
}